In [21]:
import streamlit as st
import mysql.connector
import pandas as pd

# Initialize connection.
# Uses st.cache_resource to only run once.
@st.cache_resource
def init_connection():
    return mysql.connector.connect(**st.secrets["db3_db"])

conn= init_connection()

In [24]:
query =pd.read_sql('select * from ipg_ez', conn)
print(query)

        id  Site BL_Number Truck_Appointment_Date  BL_Weight  Freight_Amount  \
0        1  AMAZ   WZ1A645                   None     1202.0            0.00
1        2  AMAZ   WZ1B035                   None    11688.0            0.00
2        3  AMAZ   WZ2A056                   None    11110.0            0.00
3        4  AMAZ   WZ2A056                   None    11110.0            0.00
4        5  AMAZ   WZ2A390                   None    22232.0            0.00
...    ...   ...       ...                    ...        ...             ...
3031  3032  VAMT   2065349             2023-02-27    22126.8         1875.74
3032  3033  VAMT   2065349             2023-02-27    22126.8         1875.74
3033  3034  VAMT   2065349             2023-02-27    22126.8         1875.74
3034  3035  VAMT   2065349             2023-02-27    22126.8         1875.74
3035  3036  VAMT   2065350                   None    27802.1            0.00

     Truck_Appt_Time Pickup_Date State    Ship_to_City  ... Waybill_Number  \
0                NaT  2023-02-15    UT  SALT LAKE CITY  ...           None
1                NaT  2023-02-13    WA          BLAINE  ...           None
2                NaT  2023-02-03    CA         FREMONT  ...           None
3                NaT  2023-02-22    CA         FREMONT  ...           None
4                NaT  2023-02-13    CO   COMMERCE CITY  ...           None
...              ...         ...   ...             ...  ...            ...
3031             NaT  2023-02-20    PA            YORK  ...        5264206
3032             NaT  2023-02-20    PA            YORK  ...        5264206
3033             NaT  2023-02-20    PA            YORK  ...        5264206
3034             NaT  2023-02-20    PA            YORK  ...        5264206
3035             NaT  2023-02-17    IN      GREENFIELD  ...           None

     Sales_Code Transportation_Code Transaction_Type Product_Group  \
0          SWCK                   T               RS            SW
1          SWZU                   T               RS            SW
2          SWBE                   T               RS            SW
3          SWBE                   T               RS            SW
4          SWCK                   T               RS            SW
...         ...                 ...              ...           ...
3031       CFGF                   T               SX            BP
3032       CFGF                   T               SX            BP
3033       CFGF                   T               SX            BP
3034       CFGF                   T               SX            BP
3035       CFTO                   T               RS            BP

      uploaded_date_time rpt_run_date    rpt_run_time  \
0    2023-02-25 14:58:51   2023-02-24 0 days 16:00:00
1    2023-02-25 14:58:51   2023-02-24 0 days 16:00:00
2    2023-02-25 14:58:51   2023-02-24 0 days 16:00:00
3    2023-02-25 14:58:51   2023-02-24 0 days 16:00:00
4    2023-02-25 14:58:51   2023-02-24 0 days 16:00:00
...                  ...          ...             ...
3031 2023-02-25 15:07:40   2023-02-20 0 days 16:00:00
3032 2023-02-25 15:07:40   2023-02-20 0 days 16:00:00
3033 2023-02-25 15:07:40   2023-02-20 0 days 16:00:00
3034 2023-02-25 15:07:40   2023-02-20 0 days 16:00:00
3035 2023-02-25 15:07:40   2023-02-20 0 days 16:00:00

                                              file_name  file_size
0     AmTopp Current Pickup Detail Report as of 2023...     199553
1     AmTopp Current Pickup Detail Report as of 2023...     199553
2     AmTopp Current Pickup Detail Report as of 2023...     199553
3     AmTopp Current Pickup Detail Report as of 2023...     199553
4     AmTopp Current Pickup Detail Report as of 2023...     199553
...                                                 ...        ...
3031  AmTopp Current Pickup Detail Report as of 2023...     139155
3032  AmTopp Current Pickup Detail Report as of 2023...     139155
3033  AmTopp Current Pickup Detail Report as of 2023...     139155
3034  AmTopp Current Pickup Detail Report as of 2023...     139155
3035  AmTopp Current Pickup Detail Report as of 2023...     139155

[3036 rows x 36 columns]

C:\Users\tonyw\AppData\Local\Temp\ipykernel_29616\394485314.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query =pd.read_sql('select * from ipg_ez', conn)

In [1]:
# upload uscities to db
import pandas as pd 
from helper import connect_to_database

df = pd.read_excel('uscities.xlsx')

conn = connect_to_database('ws_hub_db')

df.to_sql('us_cities', con=conn, if_exists='replace', index=False)

Successfully connected to MYSQL database: ws_hub

30844

Successfully connected to MYSQL database: db3

30844

In [28]:
df = pd.read_excel(r"C:\Users\tonyw\Downloads\AmTopp Current Pickup Detail Report as of 2023-2-24 H9M0.xlsx")
df.columns

Index(['SITE', 'B/L Number', 'Truck Appointment Date (YY/MM/DD)',
       'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
       'PickUp Date (YY/MM/DD)', 'State', 'Ship to City', 'Ship to Customer',
       'Order Number', 'Order Item', 'CSR', 'Freight Term',
       'Require Date (YY/MM/DD)', 'Schedule Date (YY/MM/DD)',
       'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
       'Number of Pallet', 'Pickup By', 'Change Date (YY/MM/DD)', 'Carrier ID',
       'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
       'Transportation Code', 'Transaction Type', 'Product Group',
       'Report run at 2023-2-24 H9M0'],
      dtype='object')

In [30]:
file1="AmTopp Current Pickup Detail Report as of 2023-2-24 H9M0" 
len(file1)

56

In [4]:
import datetime

# Replace with your actual rpt_date value
rpt_date_str = '2022-03-03'

# Convert rpt_date string to a datetime.date object
rpt_date = st.date_input("Choose a date: ")
# Check if rpt_date is a Friday
if rpt_date.weekday() == 4: # Friday is the 4th day of the week
    truck_date = rpt_date + datetime.timedelta(days=1) # Add one day to rpt_date
    truck_date_str = truck_date.strftime('%Y-%m-%d')
    saturday_str = (truck_date + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
    sunday_str = (truck_date + datetime.timedelta(days=2)).strftime('%Y-%m-%d')
    monday_str = (truck_date + datetime.timedelta(days=3)).strftime('%Y-%m-%d')
    print(f"rpt_date is Friday, so truck_date is {truck_date_str} (including Saturday, Sunday, and Monday)")
    print(f"Saturday: {saturday_str}")
    print(f"Sunday: {sunday_str}")
    print(f"Monday: {monday_str}")
else:
    truck_date = rpt_date + datetime.timedelta(days=1) # Add one day to rpt_date

rpt_date is not Friday, so truck_date is 2022-03-04

In [5]:
import pandas as pd 
from helper import avail_to_ship, connect_to_database, avail_to_ship_AM

DB = 'db3_db'
conn= connect_to_database(DB)
qry = avail_to_ship_AM(site='AMJK', group='SW', rpt_date='2023-02-24')
df= pd.read_sql_query(qry, conn)

df

Successfully connected to MYSQL database: db3
Successfully connected to MYSQL database: db3

ObjectNotExecutableError: Not an executable object:    Site Product_Group       WGT    PLT
0  AMJK            SW  545770.0  470.0