In [25]:
import pandas as pd 
from helper import connect_to_database
#from sql_qry import stacker3_custom_made



conn = connect_to_database('home_db')

qry = """ select * from actor """
df = pd.read_sql_query(qry, con=conn)
print(df)
conn.close()

Successfully connected to MYSQL database: sakila
     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

In [28]:
df = pd.read_excel(r"C:\Users\tonyw\Downloads\AmTopp Current Pickup Detail Report as of 2023-2-24 H9M0.xlsx")
df.columns

Index(['SITE', 'B/L Number', 'Truck Appointment Date (YY/MM/DD)',
       'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
       'PickUp Date (YY/MM/DD)', 'State', 'Ship to City', 'Ship to Customer',
       'Order Number', 'Order Item', 'CSR', 'Freight Term',
       'Require Date (YY/MM/DD)', 'Schedule Date (YY/MM/DD)',
       'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
       'Number of Pallet', 'Pickup By', 'Change Date (YY/MM/DD)', 'Carrier ID',
       'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
       'Transportation Code', 'Transaction Type', 'Product Group',
       'Report run at 2023-2-24 H9M0'],
      dtype='object')

In [30]:
file1="AmTopp Current Pickup Detail Report as of 2023-2-24 H9M0" 
len(file1)

56